<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mapify</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
    <style>
       #map {
        height: 400px;
        width: 100%;
       }
	   
	   div.container{
	   border: 1px solid black;
	   }
    </style>
</head>
<body style="background-color:#F8F8F8">
    <center><h2 style="color:Purple">MapifyTweets</h2>
    <form id="twForm" action="" method="post">
        {% csrf_token %}
		<label style="font:10px">Select a Keyword:</label>
        <select name="keyword" onchange="this.form.submit();">
            <option value="" >Select</option>
            <option value="trump">Trump</option>
			<option value="president">President</option>
			<option value="immigrants">Immigration</option>
			<option value="and">And</option>
			<option value="from">From</option>
			<option value="weather">Weather</option>
			<option value="weekend">Weekend</option>
            <option value="best">Best</option>
			<option value="happy">Happy</option>

        </select>
    </form>
	</center>
	<br>
    <h4>Mapped tweets for the word: <span id="keyword"></span></h4>
        <br>
        <br>
    <div id="map" class="container">
    <script>
        data_from_django = {{ tweetCoord|safe }};
        console.log("coordinates: "+data_from_django[1]['sentiment']);
        function initMap() {

            var map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 4,
                        center: {lat: 41.850033, lng: -87.6500523}
                        });

            document.getElementById('keyword').innerHTML = data_from_django[0];
            for (var i=1; i<data_from_django.length; i++){
                markLocation(map, data_from_django[i])
            }

        }

        function markLocation(map, data) {
            var coordinates = data['coordinates']['coordinates']
            var sentiment = data['sentiment']
            var myLatLng = {lat: coordinates[1], lng: coordinates[0]};
            if (sentiment === "positive") {
                var marker = new google.maps.Marker({
                            position: myLatLng,
                            map: map,
                            icon: 'http://maps.google.com/mapfiles/ms/icons/green-dot.png',
                            title: 'Hello World!'
                            });
            } else if (sentiment === "negative") {
                var marker = new google.maps.Marker({
                            position: myLatLng,
                            map: map,
                            icon: 'http://maps.google.com/mapfiles/ms/icons/red-dot.png',
                            title: 'Hello World!'
                            });
            } else if (sentiment === "neutral") {
                var marker = new google.maps.Marker({
                            position: myLatLng,
                            map: map,
                            icon: 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png',
                            title: 'Hello World!'
                            });
            } else {
                var marker = new google.maps.Marker({
                            position: myLatLng,
                            map: map,
                            icon: 'http://maps.google.com/mapfiles/ms/icons/yellow-dot.png',
                            title: 'Hello World!'
                            });
            }
        }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAY41gy7JE5VdAWFbf3ZH4cMlIYfd9wsjs&callback=initMap">
    </script>
	</div>
</body>
</html>