<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mapify</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
</head>
<body>
    <p>Hello World !</p>
    <form id="twForm">
        <select name="keyword" onchange="this.form.submit();">
            <option value="" >Select</option>
            <option value="trump">Trump</option>
            <option value="ban">ban</option>
        </select>
    </form>
    <div id="map"></div>
    <script>
        function initMap() {
            var myLatLng = {lat: 26.879058, lng: -80.177525};

            var map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 4,
                        center: myLatLng
                        });

            var marker = new google.maps.Marker({
                            position: myLatLng,
                            map: map,
                            title: 'Hello World!'
                            });
        }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAY41gy7JE5VdAWFbf3ZH4cMlIYfd9wsjs&callback=initMap">
    </script>
</body>
</html>